<%= form_with(model: service, local: true) do |form| %>
    <% if service.errors.any? %>
        <div id="error_explanation">
           

            <ul>
                <% service.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <% end %>

            <div class="form-group">
                    <label>Nome*</label>
                    <%= form.text_field :name, class:'form-control' %>
            </div>

            <div class="form-group">
                       <label>Descrição*</label>
                    <%= form.text_area :description, class:'form-control' %>
            </div>

            <div class="form-group">
                       <label>Preço*</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        <%= form.text_field :price , class:'form-control'%>
                    </div>
            </div>
            <br>
            <div class="actions">
                <%= form.submit 'Confirmar', class:'btn btn-success'%>
                    <% end %>
            </div>
            <br>