<p id="notice"><%= notice %></p>

<h1 class="text-center">Serviços</h1>
<div class="container-fluid">
<div class="table-responsive">
<table class="table table-bordered table-striped table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Preço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.id %></td>
        <td><%= service.name %></td>
        <td><%= service.price %></td>
        <td><%= link_to 'Detalhes', service %></td>
        <td><%= link_to 'Editar', edit_service_path(service) %></td>
        <td><%= link_to 'Remover', service, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Novo Serviço', new_service_path, class:'btn btn-primary' %>
</div>