
<br>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <h2 class="text-center">Detalhes do Serviço<h2>
  </li>
  <li class="list-group-item ">
   <h5>
    <strong>Nome:</strong>

  <%= @service.name %>
  </h5>
  </li>
  <li class="list-group-item">
    <h5>
    <strong>Descrição:</strong>

  <%= @service.description %>
  </h5>
  </li>
  <li class="list-group-item">
    <h5>
    <strong>Preço:</strong>
  R$<%= @service.price %>
  <h5>
  </li>
</ul>
<br>

<%= link_to 'Editar', edit_service_path(@service), class:'btn btn-primary' %> 
<br>
<%= link_to 'Voltar', services_path %>

</div>