<p id="notice">
    <%= notice %>
</p>
<br>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <h2 class="text-center">Detalhes do Serviço<h2>
  </li>
  <li class="list-group-item ">
   <h4>
    <strong>Nome:</strong>

  <%= @service.name %>
  </h4>
  </li>
  <li class="list-group-item">
    <h4>
    <strong>Descrição:</strong>

  <%= @service.description %>
  </h4>
  </li>
  <li class="list-group-item">
    <h4>
    <strong>Preço:</strong>
  R$<%= @service.price %>
  <h4>
  </li>
</ul>
<br>
<%= link_to 'Voltar', services_path , class:'btn btn-primary'%>
<%= link_to 'Editar', edit_service_path(@service), class:'btn btn-primary' %> 


</div>