
<h1 class="text-center ">Ordem de Serviços</h1>
<br>
<div class="container-fluid ">
    <div class="table-responsive ">
        <table class="table table-bordered table-striped table-hover table-sm ">
            <thead class="thead-dark ">
                <tr>
                    <th>#</th>
                    <th>Serviço</th>
                    <th>Valor Unitário</th>
                    <th>Qtd</th>
                    <th>Valor Total</th>
                    <th>Desconto</th>
                    <th>Valor Final</th>
                    <th colspan="3 "></th>
                </tr>
            </thead>

            <tbody>
                <% @order_services.each do |order_service|%>
                    <tr>
                        <td>
                            <%= order_service.id %>
                        </td>
                        <td>
                            <%= order_service.service.name %>
                        </td>
                        <td>R$
                            <%= order_service.service.price %>
                        </td>
                        <td>
                            <%= order_service.amount %>
                        </td>
                        <td>R$
                            <%= order_service.totalvalue %>
                        </td>
                        <td>
                            <%= 
          case order_service.discount
          when 0.1
          '10%'
          when 0.2
          '20%'
          when 0.3
          '30%'
          else
          '0%'
          end
        %>
                        </td>
                        <td>R$
                            <%= order_service.liquidvalue %>
                        </td>
                        <td class="col-xs-1">
                            <%= link_to order_service do%>
                             <i class="fa fa-eye fa-sm"></i>
                            <% end %>
                        </td>
                        <td class="col-xs-1">
                            <%= link_to  edit_order_service_path(order_service) do %>
                            <i class="fa fa-sm fa-edit"></i>
                            <% end %>
                        </td>
                        <td class="col-xs-1">
                            <%= link_to order_service, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                            <i class="fa fa-sm fa-trash"></i>
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
            </tbody>
        </table>
    </div>

    <%= paginate @order_services, theme: 'twitter-bootstrap-4'%>
    <%= link_to 'Criar Ordem de Serviço',  new_order_service_path , class:'btn btn-success'%>
  <%= link_to "Exportar para Excel", order_services_path(format: "xls") , class:'btn btn-primary'%>
<br>
<br>
<h5>Soma de Valores Totais =>
<strong>R$ <%=  
total = 0
@order_services.each do |value|
  total += value.totalvalue
end

p total
%></strong>
<h5>

<h5>Soma de Valores Finais =>
<strong>R$ <%=  
total = 0
@order_services.each do |value|
  total += value.liquidvalue
end

p total
%></strong>
<h5>
</div>
