<p id="notice"><%= notice %></p>

<h1>Order Services</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Amount</th>
      <th>Employee</th>
      <th>Date</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th>Detail</th>
      <th>User</th>
      <th>Totalvalue</th>
      <th>Liquidvalue</th>
      <th>Discount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_services.each do |order_service| %>
      <tr>
        <td><%= order_service.service %></td>
        <td><%= order_service.amount %></td>
        <td><%= order_service.employee %></td>
        <td><%= order_service.date %></td>
        <td><%= order_service.starttime %></td>
        <td><%= order_service.endtime %></td>
        <td><%= order_service.detail %></td>
        <td><%= order_service.user %></td>
        <td><%= order_service.totalvalue %></td>
        <td><%= order_service.liquidvalue %></td>
        <td><%= order_service.discount %></td>
        <td><%= link_to 'Show', order_service %></td>
        <td><%= link_to 'Edit', edit_order_service_path(order_service) %></td>
        <td><%= link_to 'Destroy', order_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Service', new_order_service_path %>
