
<br>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <h2 class="text-center">Detalhes do Serviço<h2>
  </li>
  <li class="list-group-item ">
   <h5>
  <strong>Serviço:</strong>
  <%= @order_service.service.name %>
  </h5>
  </li>
  <li class="list-group-item">
    <h5>
  <strong>Quantidade:</strong>
  <%= @order_service.amount %>
  </h5>
  </li>
  <li class="list-group-item">
    <h5>
    <strong>Preço:</strong>
  R$<%= @order_service.service.price %>
  <h5>
  </li>
    <li class="list-group-item">
    <h5>
  <strong>Funcionario:</strong>
  <%= @order_service.employee %>
  <h5>
  </li>
    <li class="list-group-item">
    <h5>
  <strong>Data:</strong>
  <%= @order_service.date %>
  <h5>
  </li>
    <li class="list-group-item">
    <h5>
  <strong>Hora Inicio:</strong>
  <%= @order_service.starttime %>
  <h5>
  </li>
      <li class="list-group-item">
    <h5>
  <strong>Hora Final:</strong>
  <%= @order_service.endtime %>
  <h5>
  </li>
      <li class="list-group-item">
    <h5>
  <strong>Detalhes:</strong>
  <%= @order_service.detail %>
  <h5>
  </li>
        <li class="list-group-item">
    <h5>
  <strong>Valor Total:</strong>
  R$<%= @order_service.totalvalue %>
  <h5>
  </li>
        <li class="list-group-item">
    <h5>
  <strong>Valor Liquido:</strong>
  R$<%= @order_service.liquidvalue %>
  <h5>
  </li>
        <li class="list-group-item">
    <h5>
  <strong>Desconto:</strong>
  <%= 
          case @order_service.discount
          when 0.1
          '10%'
          when 0.2
          '20%'
          when 0.3
          '30%'
          else
          '0%'
          end
        %>
  <h5>
  </li>
</ul>
<br>


<%= link_to 'Editar', edit_order_service_path(@order_service) , class:'btn btn-primary'%> 
<br>
<br>
<%= link_to 'Voltar', order_services_path%>
</div>